<header class="site-header">
    <div class="header-container">
        <div class="site-logo">
            <a href="/" class="logo-link">
                <img src="/assets/images/ui/ed-duck2020small.png" alt="Edmond Miu" width="28" height="28">
            </a>
        </div>
        
        <nav class="main-nav">
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/pages/about/">About</a></li>
                <li><a href="/#projects">Projects</a></li>
                <li><a href="/pages/gallery/">Gallery</a></li>
            </ul>
        </nav>
    </div>
</header> 